# Python
__pycache__/
*.py[cod]
*$py.class

# Пакеты
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/

# Установленные пакеты
pip-log.txt
pip-delete-this-directory.txt

# Виртуальные окружения
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# Модули и библиотеки
*.pyo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Конфигурационные файлы IDE
.vscode/
.idea/

# Другие временные файлы
*.swp
*~